<%- include('../includes/head.ejs') %>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="centered">
        <h1><%=product.name%></h1>
        <hr>
        <div>
        <img src="<%=product.imageUrl%>" alt="<%=product.name%>"/>
        </div>
        <h2>Rs. <%=product.price%></h2>
        <h2><%=product.description%></h2>
        <%- include('../includes/add-to-cart.ejs') %>
    </main>

<%- include('../includes/end.ejs') %>